
<div class="container d-flex justify-content-center" style="min-height: 80vh; align-items: center;">
  <div class="col-md-4 col-lg-3">
  <h2 class="text-center mb-4">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control form-control-lg rounded-3", autofocus: true, autocomplete: "email" %>
      </div>
      <div class="mb-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-sm rounded-3 w-100" %>
      </div>
    <% end %>
    <div class="text-center mt-3">
      <%= link_to "Back to login", new_session_path(resource_name), class: "btn btn-link text-decoration-none" %>
    </div>
  </div>
</div>
