<%= render 'shared/profile_modal' %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Payments for <%= @project.title %></h1>
  <%= link_to "New Payment", new_manager_client_project_payment_path(@client, @project), class: "btn btn-outline-dark me-5" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Status</th>
      <th>Paid On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= number_to_currency(payment.amount) %></td>
        <td>
          <% badge_class = case payment.status.to_sym
            when :pending then "bg-warning"
            when :scheduled then "bg-primary"
            when :paid then "bg-success"
            else "bg-secondary"
          end %>
          <span class="badge <%= badge_class %>">
            <%= payment.status.humanize %>
          </span>
        </td>
        <td><%= payment.paid_on&.strftime("%Y-%m-%d") || "N/A" %></td>
        <td>
          <%= link_to 'Edit', edit_manager_client_project_payment_path(@client, @project, payment), class: 'btn btn-warning' %>
          <%= link_to 'Delete', manager_client_project_payment_path(@client, @project, payment), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
