<h2>Edit User</h2>
<%= form_with(model: @user, url: admin_user_path(@user), method: :patch, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", disabled: true %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
  <%= link_to "Cancel", admin_dashboard_index_path, class: "btn btn-secondary" %>
<% end %>
